<%- include("header") -%>
<div class="box" style="float:left; margin-top:0;position:fixed;">
   <h3>Welcome <%= username %></h3>
    <h4 style="background-color:yellow"><a href="/logout" style="btn-warning">Logout</a></h4>
</div>
<div class="box" id="heading" style="">
  <h1> <%= listTitle %></h1>
</div>
<div class="box" id="heading" style="float:right;position:fixed;">
  <h5> Check The Task if completed</h5>
</div>
<div class="box">

   <form class="" action="/delete" method="post">
     <%  newListItems.forEach(function(item){ %>
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
          <p><%=  item.itemName  %></p>
        </div>
        <%   }); %>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
 </form>

  <form class="item" action="/addItem" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value = "<%= listTitle %>" >+</button>
  </form>
</div>

<%- include("footer") -%>
